<!DOCTYPE html> 
<html>
  <head>
    <title>Pratham</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div id="container">
      <h1>Hello Pratham Savaliya there</h1>
      <img id="banner" src="static/pratham.jpg" height="320" width="320">
      <h2>About Me</h2>
      <p>
         My name is Pratham Savaliya, and I am a dedicated machine learning practitioner with a passion for solving real-world problems using technology. I thrive on exploring innovative approaches and leveraging data-driven solutions to address challenges in various domains. My journey in the field of machine learning is driven by a deep curiosity to understand complex systems and to develop efficient algorithms that make a positive impact on society. Whether it's enhancing business processes, optimizing resource allocation, or improving healthcare outcomes, I am committed to applying my skills and knowledge to create meaningful solutions that benefit individuals and communities alike
      </p>
      <h2 class="text-center mt-2 mt-4">My Projects</h2>
      <div>
        {% for project in projects %}
          {% include 'projects.html' %}
        {% endfor %}
      </div>
      <p>Blogs</p>
      <div class="text-tenter">
        <button>Contact Me</button>
      </div>
      <p class="mt-4">Copyright 2024, Pratham Savaliya</p>
    </div>
  </body>
</html>
